@CHARSET "UTF-8";

#accordion{
	margin-top:2em;
}

.panel-default>.panel-heading{
	color:#626262;
	background-color: white;
}
.ui-link{
	width:80%;
	display: inline-block;
	font-size:11px;
	font-weight: bold;
}
.panel-group .panel+.panel{
	margin:0px;
}
a:focus, a:hover{
	text-decoration: none;
}
.ui-page-theme-a a:hover{
	color:#626262;
}
i{
	color:#dcdcdc;
}
.panel-body{
	font-size: 11px;
    font-weight: bold;
    color: #626262;
}