@CHARSET "UTF-8";

.hline{
	border-bottom-color: #dcdcdc !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-radius: 0px;
}

#qnaDiv{
	max-width:600px;
	margin:auto;
	margin-top:2em;
}
#qnaDiv > div{
	text-align: center;
    background-color: white;
    margin-top: -3px;
    padding: 4px 0px;
}
#categoryQnA{
	color: #999 !important;
    font-weight: bold;
    font-size: 13px !important;
    border: none;
    -webkit-appearance: none;   
    -moz-appearance: none;
    appearance: none;
    background: white url("../img/mypage/downArrow.png") no-repeat 95% center;
    background-size:1.2em;
}

#titleQnA{
    width: 100%;
    border: none;
    line-height: 1.7em;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 13px;
    text-indent: 5px;
}

#contentQnA{
    border: none;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-indent: 5px;
    width: 100%;
    height: 15em;
}
#qnaRegist{
	background-color: #f8989d;
    border: none;
    border-radius: 5px;
    width: 95%;
    margin: auto;
    color: white;
    line-height: 3em;
    font-weight: bold;
}
#accordionOneByOneQnA{
	margin-top:2em;
}