@CHARSET "UTF-8";

#productList {
	width: 100%;
	overflow: auto;
}

.product {
	position:relative;
	margin: 1px;
	width: 48%;
	height: 260px;
	background-color: white;
	display: inline-block;
	text-shadow: none !important;
	margin-bottom: 0.5em;
}
.imgDiv{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.imgDiv img{
	width: 100%;
}
.productInfo{
	padding : 5px 10px;
	color: #434343;
}
.productInfo p{
	margin-bottom: 2px;
}
.productName{
	font-weight: bold;
	font-size: 10px;
}
.summary{
	font-size : 9px;
	color: #a0a0a0; 
}
