@CHARSET "UTF-8";

#threeD_middleBar{
	width: 100%;
	height: 6em;
	color: #626262;
	font-size: 11px;	
	padding: 0.7em 0em;
	white-space: nowrap;
	background-color: white;
	vertical-align: middle;
}
#threeD_middleBar p{
	width: 24%;
	display: inline-block;
	text-align: center;
}
#threeD_middleBar img{
	margin: auto;
	width: 40%;
	height: 3em;
	display: block;
}

.threeD_mainBox{
	margin-top: 1em;
	background-color: white;
	width: 100%;
	height: 20em;
	color: #626262;
	font-size: 12px;
}

.threeD_boxTitle{
	font-weight: bold;
	margin:0px;
	padding: 0.8em 0.8em 0em 0.8em;
	height: 3em;
}
.threeD_boxContents{
	padding: 0em 0.5em;;
	height: 16.5em;
	overflow: auto;
	white-space: nowrap;
	overflow-y: hidden;
}
.threeD_boxContents>div{
	display: inline-block;
}

.threeD_productDiv{
	width: 33%;
	height: 16.5em;
}
.threeD_imgDiv{
	position:relative;
	width: 100%;
	height: 12.5em;
	overflow: hidden;
}
.threeD_imgDiv img{
	width: 100%;
}

.threeD_infoDiv{
	text-align: center;
	padding: 0.2em;
}
.threeD_infoDiv p{
	margin: 0px;
}


.threeD_productInfo{
	padding : 5px 10px;
	color: #434343;
}
.threeD_productInfo p{
	margin-bottom: 2px;
}
.threeD_productName{
	font-weight: bold;
	font-size: 10px;
}
.threeD_summary{
	font-size : 9px;
	color: #a0a0a0; 
}
.threeD_product {
	position:relative;
	margin: 1px;
	width: 48%;
	height: 260px;
	background-color: white;
	display: inline-block;
	text-shadow: none !important;
	margin-bottom: 0.5em;
}
.threeD_threeDimgDiv{
	position:relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.threeD_threeDimgDiv img{
	width: 100%;
}
#threeD_totalBox{
	margin-top: 1em;
	background-color: #eee !important;
	width: 100%;
	color: #626262;
	font-size: 12px;
	
}