@CHARSET "UTF-8";

.cart_item {
	position: relative;
	width: 100%;
	height: 130px;
	margin: 2px 0px;
}

.cart_imgDiv {
	position: relative;
	width: 35%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	float: left;
}

.cart_infoDiv {
	position: relative;
	padding: 1.2em;
	width: 65%;
	height: 100%;
	display: inline-block;
	float: left;
	background-color: white;
}

.cart_photo {
	position: absolute;
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cart_btnDiv {
	margin-top: 2em;
	width: 100%;
}

.cart_btnDiv img {
	border: 0.5px groove;
	display: inline-block;
	width: 47%;
	height: 30px;
	margin-right: 5px;
}

.cart_cancleBtn {
	width: 17px;
	position: absolute;
	top: 22px;
	left: 80%;
}

#cart_cartDiv {
	font-size: 13px;
	margin-top: 2em;
	background-color: white;
	color: #626262;
	padding: 2em;
}

#cart_cartDiv p {
	margin-bottom: 10px;
	display: inline-block;
	color: #626262;
}

.cart_productTitle {
	font-size: 13px;
	color: #434343;
	font-weight: bold;
}

.cart_price {
	font-size: 11px;
	color: #a0a0a0;
}

.cart_discount {
	font-size: 11px;
	color: #f56c74;
}