@CHARSET "UTF-8";

#categoryItem {
	vertical-align: middle;
	text-align: center;
}
.cateLine{
	width: 100%;
	height: 93px;
	padding: 0px;
	white-space: nowrap;
	vertical-align: middle;
}
#categoryItem div div {
	position: relative;
	background-color:#9B9B9B;
	display:inline-block;
	width: 25%;
	height: 93px;
	margin-bottom: 1px;
	border-right: 1px white solid;
	float: left;
}
#categoryItem div img{
	height: 68px;
	margin-top: 10px;
	padding: 23%;
	margin-bottom: -10px;
	
}
#categoryItem div p{
	height: 25px;
	color: white;
	margin-bottom: 0px;
}

#categoryAD {
	width: 100%;
	margin: 0px;
	height:13%;
	overflow: hidden;
	margin-top:2em;
}