@CHARSET "UTF-8";

#login_box .ui-input-text{
	border: 0;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    height: 100%;
}

#myPage{
	padding: 0 16px;
}

#myPageTitle{
	height: 28px;
    margin-bottom:49px;
    text-align:center;
    line-height: 28px;
    color:#9b9b9b;
    background-image:url('../img/mypage/back.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 16px;
}

#login_box{
    padding: 0 58px;
}
#login_box input{
	background-color: #ebebeb;
	height:34px;
}
#login_box p{
	margin-bottom:46px;
	height:15px;
}
#login_box #input_id{
	margin-bottom:14px;
}
#login_box #input_pw{
	margin-bottom:17px;
}
#login_box #icon_box{
	margin-bottom:24px;
	height:34px;
}
#login_box #icon_box img{
	height:100%;
}
#loginBtn{
	margin-bottom:22px;
	height:68px;
	background-color:#ebebeb;
	text-align:center;
	line-height: 68px;
}
#list{
	background-color: inherit;
}
#list > div{
	padding:0 25px;
	height:51px;
	background-color: white;
	border-bottom: 1px solid #ebebeb;
}
#list p{
	margin:0;
}
#list > div > div{
	width: 50%;
	height:100%;
	line-height:51px;
    display: inline-block;
    float: left;
}

#list .messageBox{
	width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    background-color: #9b9b9b;
    vertical-align: middle;
    border-radius: 50%;
   	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color:white;
}
#list .listIcon{
	height:18px;
}