@font-face {
  font-family: 'NotoSansCJKkr-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot);
  src: url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff2) format('x-woff2'),
       url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff) format('woff'),
       url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf) format('truetype'),
       url(../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.svg#webfont) format('svg');
}